/* NOTE GLOBAL */
html,
body {
  font-family: "Work Sans", sans-serif;
}

/* NOTE HEADING - dùng chung*/

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading h2 {
  color: #ff4f81;
  font-size: 40px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.heading p {
  text-transform: capitalize;
  letter-spacing: 4px;
  font-size: 17px;
  color: black;
}

.heading--white p {
  color: white;
}

.heading p::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;

  background-color: black;
  margin: 20px auto;
}

/* 
Phần carousel ko có padding nên đè lại bằng css paddign 0 ở dưới hoặc class BS py-0
padding thẳng vào tag thì khỏi thêm class section vào
Thiết kế thường để padding khoảng 70-80px
*/
section {
  padding: 5rem 0;
}

/* NOTE HEADER */
.header__top {
  background-color: #ff4f81;
  font-size: 14px;
}

.header__top a {
  text-decoration: none;
  color: white;
  transition: all.3s;
}

.header__right a {
  display: inline-block;
  width: 30px;
  height: 30px;

  background-color: black;

  text-align: center;
  line-height: 30px;

  border: 1px solid black;

  margin-left: 0.25rem;
}

.header__right a:hover {
  color: #ff4f81 !important;
  border-color: white;
}

/* vì color text thêm bằng BS class (trong HTML) nên phải dùng !important ở đây để override lại
có thể check qua dev tools css cũ
*/
.header__left a:hover {
  color: black !important;
}

/* NOTE NAVBAR */

.navInstruction a {
  color: black;
}

.navInstruction .navbar-brand p:first-child {
  font-size: 36px;
}

.navInstruction .navbar-brand p:first-child {
  transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child {
  font-size: 11px;
  color: #ff4f81;
  letter-spacing: 3px;
  font-weight: bold;
}

/* NOTE nav menu right */
/* Chỉ khi cần override mạnh mới phải dùng selector dài */

#navbarInstruction .nav-item {
  margin: 0 15px;
}

/* Xử lí đường gạch chân */
#navbarInstruction .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;

  background-color: #ff4f81;

  transition: all 0.2s;
}

#navbarInstruction .nav-item:hover::after {
  width: 100%;
}

/* Luôn hiện ga5jch chân và đổi màu ở class active */
/* code này ở phía dưới nên sẽ đè lại default ở trên */
#navbarInstruction .nav-item.active .nav-link {
  color: #ff4f81;
}

#navbarInstruction .nav-item.active::after {
  width: 100%;
}

#navbarInstruction .nav-link {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;

  transition: all 0.3s;
}

#navbarInstruction .nav-item:hover .nav-link {
  color: #ff4f81;
}

/* NOTE dropdown */
/* Inspect để biết class phải chọn là gì */
#navbarInstruction .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item {
  color: white;
  transition: all 0.3s;
}
/* copy selector trong dev tools, thêm ID để tăng độ ưu tiên */
#navbarInstruction .dropdown-item:focus,
#navbarInstruction .dropdown-item:hover {
  /* ko cho hiện màu trắng khi hover vào */
  background-color: transparent;
  color: #ff4f81;
}

/* NOTE CAROUSEL */
/* Kỹ thuật riêng canh center chỉ dùng khi với pos absolute 
fix nhẹ top lên 55% cho giống layout mẫu
*/
#carouselCyber .carousel-caption {
  top: 55%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#carouselCyber .carousel-caption h1 {
  font-size: 52px;
}

/* p ko là thẻ con bên trong pos absolute nên vẫn có thể dùng margin auto được */
#carouselCyber .carousel-caption p {
  letter-spacing: 4px;
  line-height: 1.8rem;
  font-weight: 300;

  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#carouselCyber .carousel-caption button {
  padding: 11px 20px;

  color: white;
  font-size: 14px;
  letter-spacing: 2px;

  border: white 1px solid;
  border-radius: 0;

  transition: all 0.3s;
}

#carouselCyber .carousel-caption button:hover {
  background-color: #ff4f81;
}

/* NOTE WELCOME */
/* đơn vị em đi theo font size gần nhất */
/* Fix lại > direct child selector  - mục 6 */
/* https://www.csssolid.com/35-css-selectors-to-remember.html */
.welcome__content > p {
  width: 80%;

  margin: 0 auto;
  padding: 1rem 0 5rem;

  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.8em;
  /* 1 em hiện tại = 15px */

  color: #999;
}

.welcome__item i {
  font-size: 2rem;
}

.welcome__item h3 {
  color: #ff4f81;
  font-weight: bold;
  font-size: 1.8rem;

  margin: 1rem 0;
}

.welcome__item h4 {
  color: black;
  font-weight: bold;
  font-size: 1rem;

  margin: 1rem 0 0.2rem;
}

.welcome__item p {
  color: #999;
  font-size: 15px;
  line-height: 1.8rem;
  letter-spacing: 1px;

  margin: 10px 0 0;
}

.welcome__course .row > div {
  padding: 2rem;
}

/* NOTE OUR STATS */
.ourStats {
  background-image: url(../img/banner2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.ourStats__content {
  text-align: center;
  color: white;
}

.ourStats__item i {
  font-size: 2.5rem;
}

.ourStats__item h3 {
  font-size: 1.3rem;
  color: #ff4f81;
  letter-spacing: 3px;
  font-weight: bold;

  margin: 30px 0 20px;
}

.ourStats__item p {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 300;
}

/* NOTE OFFER */
/* Đối với grid của BS thì dùng padding đẩy nhau */
.offer__content .row > div {
  padding: 15px;
}

.offer__item {
  text-align: center;

  padding: 25px 40px;
  background-color: white;

  box-shadow: 0px 1px 8px 0px rgb(158 158 158 / 75%);
  transition: all 0.3s;
}
.offer__item:hover {
  background-color: #12ccc3;
}

.offer__item i {
  color: #ff4f81;
  font-size: 40px;
}

.offer__item h3 {
  font-size: 20px;
  color: black;

  margin: 25px 0;
}

.offer__item p {
  color: #6b6b6b;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* NOTE FEEDBACK */

/* bg size-cover rồi thì sẽ ko repeat nữa */
/* cách viết shorthand cho background */
.feedback {
  /* background-image: url(../img/banner3.jpg);
  background-position: center; */
  /* background: url(../img/banner3.jpg) center no-repeat; */
  background: url(../img/banner3.jpg) center;

  background-size: cover;
  background-attachment: fixed;
}

.feedback__content {
  box-shadow: 0px 1px 7px #8e8e8e;
  background-color: rgba(0, 0, 0, 0.47);
  padding: 1rem;
}

.feedback__content .item {
  color: white;
  padding: 1rem;
}

.feedback__top {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.47);

  position: relative;
}

/* 
Khi 1 thẻ chỉ có border, ko có width, height, content rỗng
Kích thước thẻ khi đó sẽ phụ thuộc kích thước border
Sau đó dùng position relative di chuyển
*/
.feedback__top::after {
  content: "";

  border-top: 9px solid rgba(0, 0, 0, 0.47);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;

  position: absolute;
  top: 100%;
  left: 28%;
}

/* 
img check dev tool sẽ thấy đang bị thư viện BS css
.owl-carousel .owl-item img 
*/
.feedback__content .feedback__bottom img {
  width: 28%;
  display: inline-block;
}

.feedback__bottom {
  display: flex;
  justify-content: center;
  width: 55%;
  margin: 2rem auto 0;
}

.feedback__name {
  margin-left: 5px;
}

/* thẻ p trong name có margin từ BS nên phải đè lại để hình bình thường */

.feedback__name p {
  margin: 0;
  color: #ff4f81;
}

.feedback__name p:first-child {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

/* NOTE owl carousel dot */
/* Check qua dev tool để chọn cách đè thích hợp
  Gọi thêm từ class cha ngoài vào để giới hạn phạm vi, ko đè vô chính thứ viện và tăng độ ưu tiên
 */
.feedback__content .owl-theme .owl-dots .owl-dot span {
  background-color: #ff4f81;
  opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

/* Đoạn này ko cần vì bản owl Carousel đã non sẵn 
Tuy nhiên set css thì hiện trong dev tool có thể test thêm
*/

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

/* NOTE NEWS */
.news__content img {
  border: 2px solid #dedede;
}

.news__content h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.news__content a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;

  transition: all 0.3s;
}

.news__content a:hover {
  color: #ff4f81;
}

.news__content h4 {
  font-size: 1rem;
  color: #ff4f81;
  font-weight: bold;
  letter-spacing: 1px;

  margin: 1rem 0;
}

.news__content p {
  color: #999;
  line-height: 1.8rem;
  font-size: 0.9rem;

  margin-top: 1rem;
}

.news__content .row:last-child {
  margin-top: 5rem;
}

/* NOTE MODAL of NEWS */
/* có thể dùng class img-fluid thay thế */
/* #cyberModal img {
  width: 100%;
} */

#cyberModal h5.modal-title {
  color: #ff4f81;
  font-size: 29px;
  font-weight: bold;
}

#cyberModal .modal-body p {
  color: #777;
  font-size: 14px;
  line-height: 1.8em;

  padding: 20px 0;
}

#cyberModal .modal-dialog {
  max-width: 600px;
}

/* NOTE FOOTER */

footer {
  background-color: #141415;
}

.footer__top {
  padding: 5rem 0;
}

.footer__top h3 {
  font-size: 24px;
  color: #ff4f81;
  font-weight: bold;
  letter-spacing: 1px;

  margin-bottom: 1.5rem;
}

.footer__top p {
  color: #8b8b96;
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 15px;

  margin-bottom: 2rem;
}

.footer__link,
.footer__contact {
  margin-bottom: 1rem;
}

.footer__link i {
  color: #ff4f81;
  margin-right: 1rem;
}

.footer__contact a,
.footer__link a {
  color: #8b8b96;
  text-decoration: none;

  line-height: 1.5rem;
  letter-spacing: 1px;
  font-size: 15px;

  transition: all 0.3s;
}

.footer__link a:hover,
.footer__contact a:hover {
  color: white;
}

/* Font Awesome đã css sẵn là inline-block */
.footer__contact i {
  width: 32px;
  height: 32px;

  text-align: center;
  line-height: 30px;
  color: white;

  border: 1px solid #4b4b50;

  margin-right: 1rem;
}

.footer__form {
  margin-top: 3rem;
}

.footer__form label {
  color: #ff4f81;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer__form input {
  padding: 14px;

  border-radius: 0;
  border: none;

  letter-spacing: 1px;
  color: #888;

  height: auto;
}

.footer__form button {
  padding: 12px 35px;

  background-color: #ff4f81;
  color: white;

  letter-spacing: 1px;
  text-align: center;

  border-radius: 0;
  outline: none;

  transition: all 0.3s;
}

.footer__form button:hover {
  background-color: #ec1955;
  color: white;
}

.footer__bottom {
  background-color: #0f0f10;
  color: white;

  text-align: center;
  letter-spacing: 1px;

  padding: 1rem 0;
}

.footer__bottom a {
  text-decoration: none;
  color: #ff4f81;

  transition: all 0.3s;
}

.footer__bottom a:hover {
  color: white;
}

/* NOTE responsive =====*/

/* 
Việc test responsive bằng dev tool chỉ chính xác 1 phần
Chuẩn nhất vẫn là dùng đúng thiết bị để test vì có thể các chức năng touch, finger sẽ sai hoặc js chạy sai
ví dụ hiệu ứng chuyển động của slide carousel
hoặc mua acc trên các trang chuyên test
https://www.browserstack.com/
Mô phỏng trên tât cả các hệ điều hành win, mac, linux, các phiên bản luôn hệ điều hành
Các bản android khác nhau, các phiên bản trình duyệt trên các thiết bị khác nhau

Có thể thêm dưới header hoặc dưới cuối của file

Bản thân BS dùng min width
Nên nếu code thuần kết hợp BS respon thì phải chú ýko được lấy bằng giá trị breakpoint của BS
Nếu màn hình kích thước đúng bằng vị trí breakpoint thì sẽ sinh ra lỗi vì ko biết nên lấy theo BS hay theo code css

Tham khỏa trên docs thì lấy giá trị breakpoint - 0.02
  576 - 575.98
  768 -767.98
  992 - 991.98
  1200 - 1199.98
  1400 - 1399.98

Khi test trên các thiết bị chú ý xoay ngang xoay dọc
Test bằng dev tool đôi khi phải tắt mở mô phỏng thiết bị lại để reload
*/

/* 

https://getbootstrap.com/docs/5.1/layout/breakpoints/
https://getbootstrap.com/docs/5.1/layout/containers/
https://getbootstrap.com/docs/5.1/layout/grid/
---
https://getbootstrap.com/docs/4.6/layout/overview/#containers
https://getbootstrap.com/docs/4.6/layout/grid/

*/

/* NOTE res_Header */
/* TODO check vấn đề form phần footer màn nhỏ bị đẩy ra khỏi container, lỗi responsive */

@media screen and (max-width: 575.98px) {
  .header__left a {
    display: block;
  }
}

/* 
iPhone 4/5 có thể tính là trường hợp đặc biệt
Đối với apple watch thì chuyển sang app tool chứ ít khi quan tâm
Max win màn lớn trước nhỏ sau
320 ko có trong default của BS nên có thể lấy đúng
*/

@media screen and (max-width: 320px) {
  .header__right {
    width: 35%;
    text-align: center;
  }

  .header__right a {
    margin-top: 5px;
  }
}

/* NOTE res_navbar */
/* Nếu chặn 2 đầu trong điều kiện thì để trên dưới gì cũng ok, do chặn 2 đầu nên set bằng được */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #navbarInstruction .nav-item {
    margin: 0;
    padding: 0 2px;
  }
  #navbarInstruction .nav-link {
    font-size: 12px;
    padding: 5px;
  }
}

/* vh, vw unit
resp cho img, txt, logo theo khung trình duyệt ( cấp root (html) )
canh phần tử khi biết chiều cao
% phụ thuộc vào CẤP - cha gần nhất

*/

/* https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width 
nên inspet lên lấy bộ selector để override
*/
@media screen and (max-width: 991.98px) {
  .navInstruction .navbar-brand p:first-child {
    font-size: 3vw;
  }
  .navInstruction .navbar-brand p:last-child {
    font-size: 1.5vw;
  }
}
