/* NOTE GLOBAL */
html,
body {
  font-family: "Work Sans", sans-serif;
}

/* NOTE HEADING - dùng chung*/

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading h2 {
  color: #ff4f81;
  font-size: 40px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.heading p {
  text-transform: capitalize;
  letter-spacing: 4px;
  font-size: 17px;
  color: black;
}

.heading p::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;

  background-color: black;
  margin: 20px auto;
}

/* 
Phần carousel ko có padding nên đè lại bằng css paddign 0 ở dưới hoặc class BS py-0
padding thẳng vào tag thì khỏi thêm class section vào
Thiết kế thường để padding khoảng 70-80px
*/
section {
  padding: 5rem 0;
}

/* NOTE HEADER */
.header__top {
  background-color: #ff4f81;
  font-size: 14px;
}

.header__top a {
  text-decoration: none;
  color: white;
  transition: all.3s;
}

.header__right a {
  display: inline-block;
  width: 30px;
  height: 30px;

  background-color: black;

  text-align: center;
  line-height: 30px;

  border: 1px solid black;

  margin-left: 0.25rem;
}

.header__right a:hover {
  color: #ff4f81 !important;
  border-color: white;
}

/* vì color text thêm bằng BS class (trong HTML) nên phải dùng !important ở đây để override lại
có thể check qua dev tools css cũ
*/
.header__left a:hover {
  color: black !important;
}

/* NOTE NAVBAR */

.navInstruction a {
  color: black;
}

.navInstruction .navbar-brand p:first-child {
  font-size: 36px;
}

.navInstruction .navbar-brand p:first-child {
  transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child {
  font-size: 11px;
  color: #ff4f81;
  letter-spacing: 3px;
  font-weight: bold;
}

/* NOTE nav menu right */
/* Chỉ khi cần override mạnh mới phải dùng selector dài */

#navbarInstruction .nav-item {
  margin: 0 15px;
}

/* Xử lí đường gạch chân */
#navbarInstruction .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;

  background-color: #ff4f81;

  transition: all 0.2s;
}

#navbarInstruction .nav-item:hover::after {
  width: 100%;
}

/* Luôn hiện ga5jch chân và đổi màu ở class active */
/* code này ở phía dưới nên sẽ đè lại default ở trên */
#navbarInstruction .nav-item.active .nav-link {
  color: #ff4f81;
}

#navbarInstruction .nav-item.active::after {
  width: 100%;
}

#navbarInstruction .nav-link {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;

  transition: all 0.3s;
}

#navbarInstruction .nav-item:hover .nav-link {
  color: #ff4f81;
}

/* NOTE dropdown */
/* Inspect để biết class phải chọn là gì */
#navbarInstruction .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item {
  color: white;
  transition: all 0.3s;
}
/* copy selector trong dev tools, thêm ID để tăng độ ưu tiên */
#navbarInstruction .dropdown-item:focus,
#navbarInstruction .dropdown-item:hover {
  /* ko cho hiện màu trắng khi hover vào */
  background-color: transparent;
  color: #ff4f81;
}

/* NOTE CAROUSEL */
/* Kỹ thuật riêng canh center chỉ dùng khi với pos absolute 
fix nhẹ top lên 55% cho giống layout mẫu
*/
#carouselCyber .carousel-caption {
  top: 55%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#carouselCyber .carousel-caption h1 {
  font-size: 52px;
}

/* p ko là thẻ con bên trong pos absolute nên vẫn có thể dùng margin auto được */
#carouselCyber .carousel-caption p {
  letter-spacing: 4px;
  line-height: 1.8rem;
  font-weight: 300;

  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#carouselCyber .carousel-caption button {
  padding: 11px 20px;

  color: white;
  font-size: 14px;
  letter-spacing: 2px;

  border: white 1px solid;
  border-radius: 0;

  transition: all 0.3s;
}

#carouselCyber .carousel-caption button:hover {
  background-color: #ff4f81;
}

/* NOTE WELCOME */
/* đơn vị em đi theo font size gần nhất */
/* Fix lại > direct child selector  - mục 6 */
/* https://www.csssolid.com/35-css-selectors-to-remember.html */
.welcome__content > p {
  width: 80%;

  margin: 0 auto;
  padding: 1rem 0 5rem;

  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.8em;
  /* 1 em hiện tại = 15px */

  color: #999;
}

.welcome__item i {
  font-size: 2rem;
}

.welcome__item h3 {
  color: #ff4f81;
  font-weight: bold;
  font-size: 1.8rem;

  margin: 1rem 0;
}

.welcome__item h4 {
  color: black;
  font-weight: bold;
  font-size: 1rem;

  margin: 1rem 0 0.2rem;
}

.welcome__item p {
  color: #999;
  font-size: 15px;
  line-height: 1.8rem;
  letter-spacing: 1px;

  margin: 10px 0 0;
}

.welcome__course .row > div{
  padding: 2rem;
}